body {
    font-family: "Inter", sans-serif;
    margin: 0;
  
}

button {
    font-family: inherit;
    border: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    height: auto;
}
.header-page {}

.conteiner {}

.header-page-navigation {}

.header-page-logo {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #1b414b;
}

.header-page-nav-list {}

.nav-list-item {}

.nav-list-link {

}

.current {}

.header-page-social-list {}

.social-list-item {
    width: 24px;
    height: 24px;
}

.social-link {
    background-color: #1b414b;
    color: #fbfbfb;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}